.toggleArea {
    display: none;
}
.pointer {
    font-family: FontAwesome;
}
.pDown::before {
    content: "\f103"
}
.pUp::before {
    content: "\f102"
}

.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    max-height: 95%;
    z-index: 11;
  }