<app-go-back></app-go-back>
<div *ngIf="data.collection">
    <div *ngFor="let img of data.collection.items">
        <img *ngIf="img.href.includes('~orig')" [src]="img.href" class="img" style="width:100%;margin-bottom:15px;text-align:center;" (click)="toggleFullscreen()">
        <img *ngIf="img.href.includes('~orig')" [src]="img.href" class="fullscreen" style="display:none;" (click)="toggleFullscreen()">
    </div>
</div>
<h4 (click)="toggle()">
    <span class="pointer pDown"></span>
    METADATA
</h4>
<pre class="toggleArea">
    {{ metaData | json }}
</pre>